/*Top Menu */
.navbar {
    /*padding: 0 1rem;*/
    padding-top: 0rem;
    padding-bottom: 0rem;
    background-color: #06DD66;
}

/* different styles in mobile screens */
@media (max-width: 1200px) {
    .navbar {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

.navbar-dark .navbar-nav .nav-link, .dropdown-item {
    color: white;
}

li.nav-item {
    height: 3.5rem;
    display: table; 
}
li.nav-item > a {
    height: 100%;
    vertical-align: middle;
    display: table-cell;
    /*color: #fff!important;*/
    /*font-weight: 200;*/
    transition: .3s;
}

a.dropdown-item {
    height: 100%;
    vertical-align: middle;
    /*display: table-cell;*/
    /*color: #fff!important;*/
    /*font-weight: 200;*/
    transition: .3s;
}
li.nav-item > a:hover, .dropdown-item:hover {
    height: 100%;
    background-color: yellow;
    color: black!important;
    transition: .3s;
}

/* menu dropdown / secondary menu items */

.dropdown-menu {
    background-color: #06DD66;

}