/* common.css */

.dropdown-menu {
	z-index: 5000;
}

.tabulator {
    font-size: 0.8em;
    background-color: #f0f0f0;
}

.mapToolTip {
    width: 200px;
    height: 300px;
}

.rightAlign {
	text-align: right;
}

.bigSelect {
    height: 2em;
}
